
* {

    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

body {
    background-color: #FABC3F;
}

/* Header Styles */

.header {
    background-color: #E85C0D;
    padding: 1em;

}

.header__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-image {
    border-radius: 50%;
    width: 10vw;
    height: auto;
}

.header__title {
    flex: 2;
    text-align: center;
    font-size: 5vw;
    line-height: 1.2;
}

.header__theme-switcher {
    flex: 1;
    justify-content: center;
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.header__theme-switcher:hover {
    background-color: #E85C0D;
    color: #fff;
}
